/*Подключение шрифтов*/
@import url("https://fonts.cdnfonts.com/css/baron-neue");
@import url("https://fonts.cdnfonts.com/css/bebas-neue");
@import url("https://fonts.cdnfonts.com/css/furore");

@import url("../fonts/Gilroy/stylesheet.css");


/*Обнуление стилей*/
@import "_nullstyle";





/*Шрифты*/
$font-logo: "furore";
$font-title-block: "Baron Neue";
$font-title-page: Gilroy Regular;
$font-subtitle-page: Gilroy Regular;
$font-text: Gilroy Light;


/*Палитра цветов*/
$color-white: #fff;
$color-light-blue: #ccdedb;
$color-blue: #28b8af;
$color-dark-blue: #138f87;
$color-bg: #11212a;
$color-container: #102430;
$color-sub-bg: #152a36;

@mixin fontStyle($color,
    $font-family,
    $font-size,
    $font-style: normal,
    $font-weight: 400,
    $line-height: "",
    $letter-spacing: ""

) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}


* {
    @include fontStyle($color-light-blue, $font-text, calc(15px + 3 * (100vw - 320px) / 1620), normal, normal, 1.4, 0.050em);
}

%logoFont {
    @include fontStyle($color-white, $font-logo, 20px, $line-height: 1.12);
}

%textFont {
    @include fontStyle($color-light-blue, $font-text, calc(15px + 3 * (100vw - 320px) / 1620), normal, 400, 1.82, 0.1em);
}

%fontTitlePage {
    @include fontStyle($color-blue, $font-title-page, calc(30px + 5 * (100vw - 320px) / 1620), normal, 600, normal, 0.11em);
}

%fontTitleBlock {
    @include fontStyle($color-white, $font-title-block, calc(20px + 5 * (100vw - 320px) / 1620), normal, 400, normal, 0.050em);
}

%fontSubtitleBlock {
    @include fontStyle($color-white, $font-subtitle-page, calc(17px + 5 * (100vw - 320px) / 1620), normal, 600, normal, 0.1em);
}

%fontA {
    @include fontStyle($color-white, $font-text, calc(14px + 2 * (100vw - 320px) / 1620));
}

%styleA {
    @extend %fontA;
    color: #ffffff !important;
    transition: 0.2s ease;

    &:hover {
        color: $color-blue !important;
    }
}


section {
    margin-bottom: 40px;
}

a,
nav-item {
    @extend %styleA;
}

button {
    background-color: $color-blue;
    color: #ffffff;
    border-radius: 5px !important;
    border: 2px solid $color-blue;
    padding: 3px 10px;
    @extend %textFont;

    transition: 0.2s ease;

    &:hover {
        background-color: $color-dark-blue;
    }
}

.btn-outline {
    background: transparent;
    border: 2px solid $color-light-blue;
    transition: 0.2s ease;

    &:hover {
        border-color: $color-blue;
        color: $color-blue;
        background: transparent;
    }
}

.container {
    background: $color-container;
    position: relative;
    z-index: 15;

    @media (min-width: 350px) and (max-width: 780px) {
        max-width: 100%;
    }
}

.bg-dragons {
    position: fixed;
    top: 0px;
    width: 100%;
}

.text {
    @extend %textFont;
}

ul {
    padding-left: 30px !important;
}

.hr-line {
    display: block;
    margin: auto;
    width: 90%;
}

.text-color-blue {
    color: $color-blue;
}

.text_span {
    color: $color-white;
    font-weight: 500;
}

.title-blue {
    text-align: center;
    @extend %fontTitlePage;
}

.title-white {
    text-align: center;
    @extend %fontTitleBlock;
}

.subtitle {
    @extend %fontSubtitleBlock;
}

.btn-active {
    background: $color-blue !important;
}

.container_mb_block {
    margin-bottom: 40px;
}

.container_mb_sm {
    margin-bottom: 10px;
}

.discord-member {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img, i {
        margin-right: 15px;
    }
}

.carousel-indicators [data-bs-target] {
    background-color: #15ffef;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: unset !important;
    color: unset !important;
}

.carousel-indicators {
    bottom: -60px;
}

.btn-boosty {
    display: block;
    margin: auto;
    width: 240px;
    height: 45px;
    border-radius: 5px;

    font-size: 20px;

    position: relative;

    img {
        padding-right: 10px;
    }

    &::before {
        content: url("../img/boosty-cat.svg");
        position: absolute;
        top: -70px;
    }
}

// блок карточки
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-sub-bg;
    padding: 30px;
    padding-top: 20px;
    border-radius: 10px;

    .card__item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
}

.block-boosty {
    margin-top: 200px;
}



.logo {
    .logo__title {
        width: 85px;
        flex-shrink: 0;
        @extend %logoFont;
    }
}



body {
    background: $color-bg;

    header {
        background: $color-sub-bg;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1020;

        .container {
            background: $color-sub-bg;

            .navbar-toggler {
                background-color: $color-blue !important;
            }

            .navbar-collapse {
                .nav-item-active {
                    background: $color-blue;
                    transition: 0.2s ease;

                    &:hover {
                        background: $color-dark-blue;
                    }

                    .nav-link:hover {
                        color: white !important;
                    }
                }

                li {
                    border-radius: 3px;
                    margin-right: 10px;
                }

                .dropdown-item {
                    color: #818586 !important;
                }
            }
        }
    }

    main {
        .container {
            margin-top: 90px;
            margin-bottom: 40px;
            padding: 100px 0;
        }

        .container-main {
            position: relative;
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;

            &::before,
            &::after {
                content: "";
                background: $color-blue;
                position: absolute;
                top: 35px;
                bottom: 0;
                left: 0;
                width: 4px;
            }

            &::after {
                left: calc(100% - 4px);
                width: 4px;
            }

            .container__subtitle {
                margin-bottom: 10px;
            }

            .container__title-blue {
                margin-bottom: 20px;
            }

            .container__slider {
                margin-bottom: 200px;
            }

            .border-decor {
                position: absolute;
                top: 0px;

                &_left {
                    left: 0px;
                }

                &_right {
                    left: calc(100% - 18px);
                    transform: scale(-1, 1);
                }
            }
        }

        // ----------- СТРАНИЦА "ГЛАВНАЯ" ----------
        .container-index {

            .title-white {
                font-size: calc(25px + 5 * (100vw - 320px) / 1620);
            }

            // приветствие
            .block-welcome {
                padding-top: 40px;

                justify-content: center;
                align-items: center;

                // .block-welcome__title
                &__title {
                    @extend %fontTitlePage;
                    font-size: calc(60px + 5 * (100vw - 320px) / 1620);
                    font-weight: 500;
                    letter-spacing: 0em;
                }

                // .block-welcome__subtitle
                &__subtitle {
                    @extend %fontTitleBlock;
                    font-size: calc(80px + 10 * (100vw - 320px) / 1620);
                    color: $color-blue;
                    margin-left: -1.98px;
                    margin-bottom: 40px;

                    &::after {
                        content: url("../img/index/torch.svg");
                        position: relative;
                        top: 2px;
                        left: 2px;
                    }
                }

                // .block-welcome__text
                &__text {
                    margin-bottom: 5px;
                }

                // .block-welcome__subtext
                &__subtext {
                    margin-bottom: 30px;
                }

                p {
                    line-height: 28px;
                }

                button {
                    // margin-bottom: 15px;
                    white-space: nowrap;
                    width: 100%;
                    height: 45px;
                }

                // .block-welcome__btns
                &__btns {

                    .col {
                        margin-bottom: 15px;
                    }

                    .block-welcome__btn-discord {
                        background-color: #324E94;
                        border: 2px solid #324E94;

                        &:hover {
                            border-color: $color-sub-bg;
                            color: white;
                            background: #1c3470;
                        }
                    }
                }
            }

            // наши активности
            // !! как будет время исправь адаптивность картинок в один ряд при 320px
            .block-activities {

                // .block-activities__col
                &__col {
                    position: relative;

                    .block-activities__img,
                    .block-activities__img-text {
                        transition: 0.3s;
                    }

                    &:hover img {
                        filter: brightness(30%);
                    }

                    &:hover p {
                        color: $color-blue;
                    }
                }

                // .block-activities__img-text
                &__img-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #FFF;
                    font-weight: 500;

                    // .block-activities__img-text_sm
                    &_sm {
                        font-size: 1.6em;
                    }

                    // .block-activities__img-text_lg
                    &_lg {
                        font-size: 2.5em;
                    }
                }

                // .block-activities__img
                &__img {
                    width: 100%;
                    object-fit: cover;
                    padding-bottom: 20px;
                    filter: brightness(60%);

                    // .block-activities__img_sm
                    &_sm {
                        height: 220px !important;
                    }

                    // .block-activities__img_lg
                    &_lg {
                        height: 350px;
                    }
                }
            }

            // вы найдете у нас
            .block-about {
                &__card {
                    // background: $color-sub-bg;
                    // padding: 30px;
                    margin-bottom: 40px;
                    height: auto;
                }

                p {
                    color: #95A5AD;
                    line-height: 1.5em;
                }
            }
        }



        // ----------- СТРАНИЦА "О НАС" ----------
        .container-about {
            .title-white {
                font-size: calc(25px + 5 * (100vw - 320px) / 1620);
            }

            .subtitle {
                font-weight: 400;
            }

            .block-text {
                p {
                    line-height: 2em;
                }
            }

            .block-links {
                .title-white {
                    font-size: 1.3em;
                    text-align: left;
                }

                .block-links__card {
                    .card__desc-item {
                        font-size: 0.8em;

                    }
                    .card__dev-item {
                        margin-bottom: 30px;
                    }
                
                }

                .card_dev-team {
                    p, span {
                        font-size: 0.9em;
                    }
                }

            }
        }

        // ----------- СТРАНИЦА "НАШИ АКТИВНОСТИ" ----------
        .container-activity {

            // выбор активности
            .container__select-activities {
                background: $color-sub-bg;
                border-radius: 10px;
                padding: 10px;
                justify-content: center;

                .container__activity-item {
                    @media (max-width: 991px) {
                        margin-bottom: 20px;
                    }

                    .activity-item__a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        height: 80px;

                        .activity-item__line {
                            background: #26414f;
                            border-radius: 5px;
                            width: 45px;
                            height: 3px;
                        }

                        .activity-item__line_active {
                            background: $color-blue;
                        }

                        .activity-item__img {
                            // width: calc(50px - 5%);
                            // height: calc(50px - 5%);
                            max-height: 50px;
                            min-width: 40px;
                        }

                        .activity-item__text {
                            @extend %styleA;
                        }
                    }
                }
            }

            //  характеристика
            .container__activity-info {
                .container__activity-preview {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .activity-properties {
                    background: $color-sub-bg;
                    border-radius: 10px;
                    padding: 20px;

                    .activity-properties__item {
                        &-key {
                            padding-right: 10px;
                        }

                        .activity-properties__circle-difficulty_active {
                            ellipse {
                                fill: #28b8af;
                            }
                        }
                    }

                    .activity-properties__admin-text {
                        margin-bottom: 15px;
                    }
                }
            }

        }
    }

    footer {
        background: $color-sub-bg;
        padding: 50px;
        position: relative;
        z-index: 1;

        .container {
            background: $color-sub-bg;

            .footer__items {
                display: flex;
                align-items: center;
                margin-bottom: 50px;

                .logo {
                    padding-right: 30px;
                }

                .footer__hyperlinks {
                    a {
                        margin-right: 10px;
                    }
                }
            }

            p {
                font-size: 0.9em;
            }
        }
    }
}

